html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}
header{
    display:flex;
    top :0;
    width : 100%;
    justify-content:space-between;
    background: url("orange.jpg");
    background-image:linear-gradient(to right, orange, orangered);
    position : fixed ;
    z-index : 1;
    color :white;
    padding : 10px ;
}
header img{
    width :150px;
    float :left;
    transform :translateY(-35%);
}
nav a{
    padding: 15px 40px;
    color:black;
    float:right;
    text-decoration :none;
    font-family : "Trirong", serif;
    font-size : 20px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    transform : translateY(15%) translateX(-20%);
}
nav a:hover{
    background-color: sandybrown;
    box-shadow: 0px 0px 5px black;
    border-radius :20px;
    scale:105%;
    filter:drop-shadow(0px 0px 5px black);
    transition :0.5s;
}
nav a:not(:hover){
    border-radius :20px;
    scale:100%;
    transition :0.5s;
}

.banner{
    float:left;
    color: #fada07;
    padding: 10px 15px;
    font-size:40px;
    font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: 
    "slnt" -10,
    "wdth" 133.8,
    "GRAD" 81,
    "XOPQ" 141,
    "XTRA" 517,
    "YOPQ" 61,
    "YTAS" 778,
    "YTDE" -171,
    "YTFI" 685,
    "YTLC" 493,
    "YTUC" 712;
}
.banner:hover{
    background-color: orangered;
    transition:0.5s;
      box-shadow: 0px 0px 4px gray;
      scale:105%;
      filter:drop-shadow(0px 0px 5px black);
      color : white;
}
.banner:not(:hover){
    scale :100%;
    transition : 0.5s;
    border-radius : 6px;
}
section{
    height :100vh;
    display :grid;
    position :relative;
    background-color : #bd6f02;
}
section.home::before{
    background : url("pexels-photo-3756498.jpg");
    background-size : cover;
    background-repeat : no-repeat ;
    background-attachment : fixed;
    height : 1200px;
    padding-top :100px;
    content: '';
    position : absolute;
    inset :0;
    opacity :0.4;
}
section.home .description{
    text-align :right;
    color : White;
    margin-left : auto;
    margin-right :80px;
    width : 60%;
    padding : 20px;
    padding-top :none;
    isolation : isolate;
    font-size :40px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 500;
    font-style: solid;
    margin-top :-100px;
    animation :slide 3s;
    transform :translateY(-10%);
}
section.home .description2{
    text-align :right;
    color : White;
    margin-left : auto;
    margin-right :80px;
    width : 60%;
    padding : 20px;
    padding-top :none;
    isolation : isolate;
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size : 30px;
    margin-top :-100px;
    animation :slide 3s;
    transform :translateY(-10%);
}
section.home .welcome{
    font-size : 80px;
    font-family : "Special Gothic Expanded One", sans-serif;
    font-weight : 400;
    font-style : normal;
    text-align :right;
    color : White;
    width : 80%;
    padding : 20px;
    isolation : isolate;
    padding-top : 80px;
    margin-left : auto;
    margin-right :80px;
}
section.home .order{
    color: white;
    padding : 10px 20px;
    box-shadow : 0px 0px 3px;
    border-radius :20px;
    isolation : isolate;
    font-size :30px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    margin-left : auto;
    margin-right :105px;
    animation :slide 3s;
    transform :translateY(-10%);
}
section.home .order a{
    color:white;
    text-decoration : none;
}
@keyframes slide{
        0%{
            transform : translateY(0%)
        }
        100%{
            transform : translateY(-10%)
        }
}
section.about{
    background-color : #edc951;
    height : 800px ;
    padding-top : 100px;
}
section.about .aboutbox{
    justify-content :center;
    display : flex;
    flex-wrap : wrap;
    padding-top : 50px;
}
section.about .aboutbox .aboutcards{
    background-color : white;
    text-align :center;
    padding :12px;
    width : 500px;
    height : 635px;
    margin :20px;
    border-radius :20px;
    transform :translateY(-13%);
    box-shadow : 0px 0px 2px;
}
section.about .aboutbox .aboutcards:hover{
    box-shadow :0 0 5px black;
    transition : 1s;
    filter:drop-shadow(0px 0px 5px black);
    scale : 105%;
}
section.about .aboutbox .aboutcards:not(:hover){
    box-shadow : 0px 0px 3px;
    scale :100%;
    filter :drop-shadow (0px 0px 2px);
    transition :0.5s;
}
section.about .aboutbox .aboutcards2:hover{
    box-shadow :0 0 5px black;
    transition : 1s;
    filter:drop-shadow(0px 0px 5px black);
    scale : 105%;
}
section.about .aboutbox .aboutcards2:not(:hover){
    box-shadow : 0px 0px 3px;
    scale :100%;
    filter :drop-shadow (0px 0px 2px);
    transition :0.5s;
}
section.about .aboutbox .aboutcards3:hover{
    box-shadow :0 0 5px black;
    transition : 1s;
    filter:drop-shadow(0px 0px 5px black);
    scale : 105%;
}
section.about .aboutbox .aboutcards3:not(:hover){
    box-shadow : 0px 0px 3px;
    scale :100%;
    filter :drop-shadow (0px 0px 2px);
    transition :0.5s;
}
section.about .aboutbox .aboutcards2{
    background-color : whitesmoke;
    text-align :center;
    padding :12px;
    width : 500px;
    height : 520px;
    margin :20px;
    border-radius :20px;
    transform :translateY(5%);
    box-shadow : 0px 0px 2px;
}
section.about .aboutbox .aboutcards3{
    background-color : gainsboro;
    text-align :center;
    padding :12px;
    width : 500px;
    height : 340px;
    margin :20px;
    border-radius :20px;
    transform :translateY(-25%);
    box-shadow : 0px 0px 2px;
}
section.about .aboutbox .aboutcards3 img{
    width :500px;
    height : 280px;
    object-fit :cover;
    object-position: 100% 0;
    transform : translateY(10%);
    border-radius : 12px;
}
section.about .aboutbox .aboutinfo{
    font-family: "Shippori Antique B1", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align :left;
    font-size:20px;
    padding : 30px;
    padding-top : 120px;
}
section.about .aboutbox .aboutinfo2{
    font-family: "Gantari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align :center;
    font-size:22px;
    padding : 30px;
    padding-top : 120px;
}
section.about .aboutbox .aboutinfo3{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    text-align :right;
    font-size:22px;
    padding : 30px;
    padding-top : 120px;
}
section.about .aboutbox .aboutdetail1{
    background-color :sandybrown;
    text-align :center;
    width :440px;
    height :80px;
    border-radius :12px;
    margin-left:27px;
    margin-top:20px;
    position :absolute;
    border:#edc951
}
section.about .aboutbox .aboutdetail{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size :50px;
    transform : translateY(-40px);
}
section.about .aboutbox .aboutdetail2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size :50px;
    transform : translateY(3px);
}
section.about .about_us h1{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom : -100px;
    margin-top : 20px;
    font-size :50px;
    background-color : orange;
    border-radius : 20px;
    width : 320px;
    text-align :center;
    color : black;
    box-shadow : 0px 0px 10px;
}
section.about .aboutbox .aboutdetail3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size :50px;
    transform : translateY(3px);
}
section{
    height :100vh;
    display :grid;
    place-items: center;
    position :relative;
    background-color : #bd6f02;
}
section.product::before{
    background:url("pexels-photo-4087610.jpeg");
    background-size :cover;
    background-repeat : no-repeat;
    background-attachment :fixed;
    height : 1200px; 
    content: '';
    position : absolute;
    inset :0;
    opacity :0.7;
}
section.product .container{
    justify-content :center;
    display : flex;
    flex-wrap : wrap;
    padding-top : 50px;
    transform :translateY(-5%);    
}
section.product .container .card{
    background-color : white;
    text-align :center;
    padding :20px;
    width : 200px ;
    height : 540px;
    margin :12px;
    border: 8px solid sandybrown;
    border-radius :12px;
}
section.product .producttype h1{
    font-size : 50px;
    margin-top: 20px;
    isolation: isolate;
    transform : translateY(40%);
    background-color :orangered;
    box-shadow : 0px 0px 10px;
    text-align :center;
    width : 450px;
    height :70px;
    border-radius : 10px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
section.product .container .card img{
    width :100%;
    box-shadow : 0px 0px 6px;
    border-radius : 6px;
}
section.product .container .card a{
    color : black;
    padding : 5px 20px;
    text-decoration :none;
    box-shadow :0px 0px 3px;
    border-radius : 20px;
    background-color : orange;
}
section.product .container .card h2{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size :30px;
    margin-top :10px;
}
.price{
    width : flex;
    height: flex;
    margin-bottom : 30px;
    padding: 5px 10px;
    color:black;
    float: center;
    font-size : 17px ;
    font-family : "Trirong", serif;
    box-shadow : 0px 0px 5px;
    border-color : rgb(182, 176, 150);
    background-color : orangered;
    text-decoration :solid;
}
section.product .container .card p{
    text-align :center;
    font-family: "Gantari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
@keyframes shake{
    0%{
        transform : rotate(0deg)
    }
    25%{
        transform : rotate(3deg)
    }
    50%{
        transform : rotate(-3deg)
    }
    75%{
        transform :rotate(1deg)
    }
    100%{
        transform : rotate(0deg)
    }
}
.card:hover{
    box-shadow :0 0 5px black;
    transition : 1s;
    filter:drop-shadow(0px 0px 5px black);
    scale : 110%;
    animation:shake 0.5s;
}
.card:not(:hover){
    box-shadow :0 0 0px black;
    transition :1s;
    scale : 100%;
}
section.product .container .card a:hover{
    box-shadow :0 0 5px black;
    transition : 1s;
    filter:drop-shadow(0px 0px 5px black);
    scale : 110%;
    animation:shake 0.5s;
}
section.product .container .card a:not(:hover){
    transition : 1s;
    scale : 100%;
    animation:shake 0.5s;
}
section.contact{
    background-color : #fcce8e;
    height :400px;
}
.cardscroll{
    position :relative;
    width :550px;
    height :350px;
    box-shadow : 0px 0px 5px black;
    overflow :hidden;
    text-align :center;
    border-radius :10px;
    transition :0.5s;
    margin-left :400px;
    margin-right :auto;
    
    margin-top : 25px;
}
.cardscroll .image{
    position :absolute;
    width:100%;
}
.cardscroll .image img{
    width : 550px;
    height :350px;
}
.contact1desc{
    position :absolute;
    top :400px; 
    padding :0px 10px;
    transition :0.5s;
    font-size :40px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cardscroll:hover .contact1desc{
    top:0px;
    transition :0.5s;
}
.cardscroll:hover .image img{
    scale :1.2;
    filter:opacity(10%);
    transition :0.5s;
}
.cardscroll:not(:hover) .image img{
    scale :1;
    filter:opacity(100%);
    transition :0.5s;
}
.contactdesc{
    flex-direction:column;
    justify-content:flex-start;
    text-align :left;
    transform : translateY(-110%) translateX(80%);
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size :30px;
}
.contactdesc h1{
    background-color : white;
    width :220px;
    border-radius :10px;
    text-align :center;
    box-shadow : 0px 0px 10px;
}
footer{
    background-color : #fbe7d3;
    height : 50px;
}
footer .medsos{
    text-align :center;
    padding-top :10px;
}
footer .medsos a{
    color:black;
    font-size : 30px;
    padding :5px 20px ;
}
footer .medsos a:hover{
    background-color:gray;
    transition:1s;
    box-shadow: 0px 0px 5px black;
    scale:105%;
    filter:drop-shadow(0px 0px 5px black);
}

